<div id="<%= title.parameterize %>-map-container" class="widget show-convict-map-container">
  <h3 class="widget-section-title widget-title-map-icon"><%= title %></h3>
  <div id="<%= title.parameterize %>_map_canvas" style="width: 320px; height: 200px">Loading ...</div> 
  <script>
    $(document).ready(function() {
      var myLatlng = new google.maps.LatLng(<%= lat %>, <%= lng %>);
      var myOptions = {
        zoom: 5,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }

      var map = new google.maps.Map(document.getElementById("<%= title.parameterize %>_map_canvas"), myOptions);

      var marker = new google.maps.Marker({
        position: myLatlng,
        title:"<%= tooltip %>"
      });
      marker.setMap(map); 

    });
  </script>
</div>
