<% content_for :head do %>
  <%= javascript_include_tag "convicts/index.js" %>

  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/json/json-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datasource/datasource-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/event-delegate/event-delegate-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datatable/datatable-min.js"></script>
<% end %>

<% content_for :page_header do %>
  <h2 class="page-title">
    <%= convicts_page_title params %>
  </h2>
<% end %>

<% unless @convicts.empty? %>

  <div class="pagination-info">
    <%= page_entries_info @convicts %>
  </div>

  <%= will_paginate @convicts %>

  <div id="convicts-table">Loading ...</div>

  <script>
    convictsTable = new ConvictsYuiTable("raw-data-table", "convicts-table", 
                                         <%= as_json params[:sort] %>, 
                                         <%= as_json params[:direction] %>, 
                                         <%= as_json filtering_params(params) %>);
  </script>

  <%= will_paginate @convicts %>

  <table id="raw-data-table" class="raw-yui-table">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>boat</th>
        <th>departure_date</th>
        <th>court</th>
        <th>destination</th>
        <th>term</th>
      </tr>
    </thead>
    <tbody>
      <% @convicts.each do |convict| %>
        <tr>
          <td><%= convict.id %></td>
          <td><%= link_to convict.name, convict_path(convict) %></td>
          <td><%= convict.boat %></td>
          <td><%= convict.departure_date %></td>
          <td><%= convict.court %></td>
          <td><%= convict.destination %></td>
          <td><%= convict.term %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>No convicts</p>
<% end %>
