<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/datatable/assets/skins/sam/datatable.css" /> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/connection/connection-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/json/json-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datasource/datasource-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/event-delegate/event-delegate-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datatable/datatable-min.js"></script>
<% end %>

<% content_for :page_header do %>
  <h2 class="page-title">
    <% if params[:boat] %>
      Convicts on boat <%= params[:boat] %>
    <% elsif params[:destination] %>
      Convicts going to <%= params[:destination] %>
    <% elsif params[:departure_year] %>
      Convicts departing <%= params[:departure_year] %>
    <% elsif params[:court_county] %>
      Convicts convicted near <%= params[:court_county] %>
    <% else %>
      Convicts
    <% end %>
  </h2>
<% end %>

<% unless @convicts.empty? %>

  <%= will_paginate @convicts %>

  <div id="convicts-table">Loading ...</div>

  <script>
    YAHOO.util.Event.addListener(window, "load", function() {

            var columnDefs = [
                {key:"name", label: "Name", sortable:true, resizeable:true},
                {key:"boat", label: "Boat", sortable:true, resizeable:true},
                {key:"departure_date", label: "Departure Date", formatter:YAHOO.widget.DataTable.formatDate, sortable:true, resizeable:true},
                {key:"court", label: "Court", sortable:true, resizeable:true},
                {key:"destination", label: "Destination", sortable:true, resizeable:true},
                {key:"term", label: "Term", sortable:true, resizeable:true}
            ];
     
            var tableDS = new YAHOO.util.DataSource('<%= convicts_path(:format => :json) %>');
            tableDS.responseType = YAHOO.util.DataSource.TYPE_JSON;
            tableDS.responseSchema = {
                resultsList: "records",
                fields: ["id", "name","boat","departure_date","court","destination", "term"]
            };

            var generateRequest = function(oState, oSelf) {
              oState = oState || { sortedBy: null };
              var sort = (oState.sortedBy) ? oState.sortedBy.key : "name";
              var direction = (oState.sortedBy && oState.sortedBy.dir === YAHOO.widget.DataTable.CLASS_DESC) ? "desc" : "asc";
 
              return  "?sort=" + sort +
              "&direction=" + direction +
              "<%= raw params.collect { |value| ['sort', 'direction'].include?(value[0]) ? '' : "&#{value[0]}=#{value[1]}" }.join %>";
            };

            var tableConfig = {
              generateRequest: generateRequest,
              initialRequest: generateRequest(), 
              dynamicData: true,
              sortedBy : {key:"name", dir:YAHOO.widget.DataTable.CLASS_DESC}
            };

            var dataTable = new YAHOO.widget.DataTable("convicts-table",
                    columnDefs, tableDS, tableConfig);
            
            // Subscribe to events for row selection
            dataTable.subscribe("rowMouseoverEvent", dataTable.onEventHighlightRow);
            dataTable.subscribe("rowMouseoutEvent", dataTable.onEventUnhighlightRow);            
            dataTable.subscribe("rowClickEvent", function(oArgs){
              var elTarget = oArgs.target;
              var oRecord = this.getRecord(elTarget);
              window.location.href = '/convicts/' + oRecord.getData("id");
            }); 

            return {
                oDS: tableDS,
                oDT: dataTable
            };
    });

  </script>

  <%= will_paginate @convicts %>
<% else %>
  <p>No convicts</p>
<% end %>
