<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/datatable/assets/skins/sam/datatable.css" /> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/json/json-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datasource/datasource-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/event-delegate/event-delegate-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datatable/datatable-min.js"></script>
<% end %>

<% content_for :page_header do %>
  <h2 class="page-title">
    <% if params[:boat].present? %>
      Convicts transported on the <%= params[:boat] %>
    <% elsif params[:destination].present? %>
      Convicts bound for <%= params[:destination] %>
    <% elsif params[:departure_year].present? %>
      Convicts departing in <%= params[:departure_year] %>
    <% elsif params[:court_county].present? %>
      Convicts convicted near <%= params[:court_county] %>
    <% elsif params[:term].present? %>
      Convicts sentences to <%= humanize_term params[:term] %>
    <% elsif params[:first_name].present? %>
      Convicts with first name <%= humanize_term params[:first_name].titleize %>
    <% elsif params[:last_name].present? %>
      Convicts with last name <%= humanize_term params[:last_name].titleize %>
    <% elsif params[:q].present? %>
      Searching Convicts for: <%= params[:q].titleize %>
    <% else %>
      Convict Lists
    <% end %>
  </h2>
<% end %>

<% unless @convicts.empty? %>

  <div class="pagination-info">
    <%= page_entries_info @convicts %>
  </div>

  <%= will_paginate @convicts %>

  <div id="convicts-table">Loading ...</div>

  <script>

    // Looks like YUI uses native JS to parse the dates, doesnt work in some browsers e.g. safari and older versions of IE
    var supportsDateParsing = false;
    if(YAHOO.util.DataSource.parseDate('2011-05-01').getMonth() === 4){
      supportsDateParsing = true;
    }

var customDateFormatter = function (elCell, oRecord, oColumn, oData) {
    var oDate = oData, sMonth;
    if(!oDate){
      return ''
    }
    switch(oDate.getMonth()) {
        case 0:
            sMonth = "Jan";
            break;
        case 1:
            sMonth = "Feb";
            break;
        case 2:
            sMonth = "Mar";
            break;
        case 3:
            sMonth = "Apr";
            break;
        case 4:
            sMonth = "May";
            break;
        case 5:
            sMonth = "Jun";
            break;
        case 6:
            sMonth = "Jul";
            break;
        case 7:
            sMonth = "Aug";
            break;
        case 8:
            sMonth = "Sep";
            break;
        case 9:
            sMonth = "Oct";
            break;
        case 10:
            sMonth = "Nov";
            break;
        case 11:
            sMonth = "Dec";
            break;
    }
    elCell.innerHTML = oDate.getDate()  + " " + sMonth + " " + oDate.getFullYear();
};


    YAHOO.util.Event.addListener(window, "load", function() {
            var columnDefs = [
                {key:"name", label: "Name", sortable:true, resizeable:true},
                {key:"boat", label: "Boat", sortable:true, resizeable:true},
                {key:"departure_date", label: "Departure Date", formatter:customDateFormatter, sortable:true, resizeable:true},
                {key:"court", label: "Court", sortable:true, resizeable:true},
                {key:"destination", label: "Destination", sortable:true, resizeable:true},
                {key:"term", label: "Sentence", sortable:true, resizeable:true}
            ];

            //Hack for IE so date looks ok .... this makes me sad :(
            if (!supportsDateParsing) {
              delete columnDefs[2]['formatter'];
            }

            var tableDS = new YAHOO.util.DataSource(YAHOO.util.Dom.get("raw-data-table"));
            tableDS.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
            tableDS.responseSchema = {
              fields: [
                 {key:"id"}, 
                 {key:"name"},
                 {key:"boat"},
                 {key:"departure_date", parser:'date'},
                 {key:"court"},
                 {key:"destination"}, 
                 {key:"term"}
              ]
            };

            //Hack for IE so date looks ok .... this makes me sad :(
            if (!supportsDateParsing) {
              delete tableDS.responseSchema.fields[3]['parser'];
            }

            var dataTable = new YAHOO.widget.DataTable("convicts-table",
            columnDefs, tableDS, {sortedBy : {key:"<%= params[:sort] || 'name' %>", dir: <%= params[:direction] == 'desc' ? 'YAHOO.widget.DataTable.CLASS_DESC' : 'YAHOO.widget.DataTable.CLASS_ASC' %>}});

            //Hightlight row on mouse hover
            dataTable.subscribe("rowMouseoverEvent", dataTable.onEventHighlightRow);
            dataTable.subscribe("rowMouseoutEvent", dataTable.onEventUnhighlightRow);

            //Handle user clicking on a row
            dataTable.subscribe("rowClickEvent", function(oArgs){
              var elTarget = oArgs.target;
              var oRecord = this.getRecord(elTarget);
              window.location.href = '/convicts/' + oRecord.getData("id");
            }); 
            // Handle column sorting
            dataTable.doBeforeSortColumn = function(oColumn, sSortDir) {
              var direction = (sSortDir === YAHOO.widget.DataTable.CLASS_DESC) ? "desc" : "asc";
              window.location.href = '/convicts/?sort=' + oColumn.getKey() + "&direction=" + direction + "<%= raw params.collect { |value| ['sort', 'direction'].include?(value[0]) ? '' : "&#{value[0]}=#{value[1]}" }.join %>";
            };

            return {
                oDS: tableDS,
                oDT: dataTable
            };
    });

  </script>

  <%= will_paginate @convicts %>

  <table id="raw-data-table" class="raw-yui-table">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>boat</th>
        <th>departure_date</th>
        <th>court</th>
        <th>destination</th>
        <th>term</th>
      </tr>
    </thead>
    <tbody>
      <% @convicts.each do |convict| %>
        <tr>
          <td><%= convict.id %></td>
          <td><%= link_to convict.name, convict_path(convict) %></td>
          <td><%= convict.boat %></td>
          <td><%= convict.departure_date %></td>
          <td><%= convict.court %></td>
          <td><%= convict.destination %></td>
          <td><%= convict.term %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>No convicts</p>
<% end %>
