<%= form_tag(convicts_path, :method => "get") do %>
  <%= label_tag "q", "Search" %> 
  <input type="search" name="q" value="<%= params[:q] %>" />
  <%= submit_tag "Search", :class => "action-button" %>
<% end %>

<% if params[:boat] %>
  <h1>Convicts on boat <%= params[:boat] %></h1>
<% elsif params[:destination] %>
  <h1>Convicts going to <%= params[:destination] %></h1>
<% elsif params[:departure_year] %>
  <h1>Convicts departing <%= params[:departure_year] %></h1>
<% elsif params[:court_county] %>
  <h1>Convicts convicted near <%= params[:court_county] %></h1>
<% else %>
  <h1>Convicts</h1>
<% end %>

<% unless @convicts.empty? %>

  <%= will_paginate @convicts %>

  <div id="convicts-table"></div>

  <script>
    YUI({ filter: 'raw' }).use("datatable-base", function (Y) {
      var columns = ["name","boat", "departure_date", "court", "destination", "term"];
      var tableData = <%= raw @convicts.to_json %>;

      datatable = new Y.DataTable.Base({columnset:columns, recordset:tableData, summary:"Convicts"}).render("#convicts-table");
    });
  </script>

  <%= will_paginate @convicts %>
<% else %>
  <p>No convicts</p>
<% end %>
