<% content_for :head do %>
  <%= javascript_include_tag "convicts/index.js" %>

  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/datatable/assets/skins/sam/datatable.css" /> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/json/json-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datasource/datasource-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/event-delegate/event-delegate-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datatable/datatable-min.js"></script>
<% end %>

<% content_for :page_header do %>
  <h2 class="page-title">
    <%= convicts_page_title params %>
  </h2>
<% end %>

<% unless @convicts.empty? %>

  <div class="pagination-info">
    <%= page_entries_info @convicts %>
  </div>

  <%= will_paginate @convicts %>

  <div id="convicts-table">Loading ...</div>

  <script>

    YAHOO.util.Event.addListener(window, "load", function() {
            var columnDefs = [
                {key:"name", label: "Name", sortable:true, resizeable:true},
                {key:"boat", label: "Boat", sortable:true, resizeable:true},
                {key:"departure_date", label: "Departure Date", formatter:customDateFormatter, sortable:true, resizeable:true},
                {key:"court", label: "Court", sortable:true, resizeable:true},
                {key:"destination", label: "Destination", sortable:true, resizeable:true},
                {key:"term", label: "Sentence", sortable:true, resizeable:true}
            ];

            //Hack for IE so date looks ok .... this makes me sad :(
            if (!supportsDateParsing()) {
              delete columnDefs[2]['formatter'];
            }

            var tableDS = new YAHOO.util.DataSource(YAHOO.util.Dom.get("raw-data-table"));
            tableDS.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
            tableDS.responseSchema = {
              fields: [
                 {key:"id"}, 
                 {key:"name"},
                 {key:"boat"},
                 {key:"departure_date", parser:'date'},
                 {key:"court"},
                 {key:"destination"}, 
                 {key:"term"}
              ]
            };

            //Hack for IE so date looks ok .... this makes me sad :(
            if (!supportsDateParsing()) {
              delete tableDS.responseSchema.fields[3]['parser'];
            }

            var dataTable = new YAHOO.widget.DataTable("convicts-table",
            columnDefs, tableDS, {sortedBy : {key:"<%= params[:sort] || 'name' %>", dir: <%= params[:direction] == 'desc' ? 'YAHOO.widget.DataTable.CLASS_DESC' : 'YAHOO.widget.DataTable.CLASS_ASC' %>}});

            //Hightlight row on mouse hover
            dataTable.subscribe("rowMouseoverEvent", dataTable.onEventHighlightRow);
            dataTable.subscribe("rowMouseoutEvent", dataTable.onEventUnhighlightRow);

            //Handle user clicking on a row
            dataTable.subscribe("rowClickEvent", function(oArgs){
              var elTarget = oArgs.target;
              var oRecord = this.getRecord(elTarget);
              window.location.href = '/convicts/' + oRecord.getData("id");
            }); 
            // Handle column sorting
            dataTable.doBeforeSortColumn = function(oColumn, sSortDir) {
              var direction = (sSortDir === YAHOO.widget.DataTable.CLASS_DESC) ? "desc" : "asc";
              window.location.href = '/convicts/?sort=' + oColumn.getKey() + "&direction=" + direction + "<%= raw params.collect { |value| ['sort', 'direction'].include?(value[0]) ? '' : "&#{value[0]}=#{value[1]}" }.join %>";
            };

            return {
                oDS: tableDS,
                oDT: dataTable
            };
    });

  </script>

  <%= will_paginate @convicts %>

  <table id="raw-data-table" class="raw-yui-table">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>boat</th>
        <th>departure_date</th>
        <th>court</th>
        <th>destination</th>
        <th>term</th>
      </tr>
    </thead>
    <tbody>
      <% @convicts.each do |convict| %>
        <tr>
          <td><%= convict.id %></td>
          <td><%= link_to convict.name, convict_path(convict) %></td>
          <td><%= convict.boat %></td>
          <td><%= convict.departure_date %></td>
          <td><%= convict.court %></td>
          <td><%= convict.destination %></td>
          <td><%= convict.term %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>No convicts</p>
<% end %>
