<div>
   <h1><%= @convict.name %></h1>
   <div><%= @convict.description %></div>
   <div><%= @convict.boat %></div>
   <div><%= @convict.departure_date %></div>
   <div><%= @convict.court %></div>
   <div><%= @convict.term %></div>
</div>
