<% content_for :page_header do %>
  <h2 class="page-title">
    <%= @convict.name %>
  </h2>
<% end %>

<div class="page-content" style="width: 600px;">
  <h3>About</h3>
  <p><%= @convict.description %>. <%= @convict.court_and_term %> Transported to <%= @convict.raw_destination %>.</p>

  <h3>Other Information</h3>
  <p>
  <% unless @convict.alias_name.blank? %>
    <strong>Alias:</strong> <%= @convict.alias_name %><br/>
  <% end %>  
  <strong>Boat:</strong> <%= link_to @convict.boat, convicts_path(:boat =>  @convict.boat) %><br/>
  <strong>Departed:</strong> <%= @convict.departure_date.blank? ? 'Unknown' : link_to(@convict.departure_date.strftime("#{@convict.departure_date.day.ordinalize} %B %Y"), convicts_path(:year =>  @convict.departure_year)) %><br/>
  <strong>Destination:</strong> <%= @convict.destination.blank? ? 'Unknown' : link_to(@convict.destination, convicts_path(:destination =>  @convict.destination)) %><%= ", #{@convict.destination_state}" unless @convict.destination_state.nil? %><br/>
  <strong>Court:</strong> <%= @convict.court %> <% unless @convict.court_county.blank? %> in <%= link_to @convict.court_county, convicts_path(:court_county =>  @convict.court_county) %> <% end %><br/>
  <strong>Sentence:</strong> <%= link_to(humanize_term(@convict.term), convicts_path(:term =>  @convict.term)) %>
  </p>

  <h3>Boring Stuff</h3>
  <p>
    <%= @convict.source %>: <%= @convict.copyright %>.
  </p>
</div>
