<% content_for :head do %>
  <%= javascript_include_tag 'highcharts' %>

  <script type='text/javascript' src='https://www.google.com/jsapi'></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

  <%= javascript_include_tag 'protovis-r3.2' %>
<% end %>


<% content_for :page_header do %>
  <div id="text-3" class="widget widget_text">			
    <div id="home-intro-text" class="textwidget">
      <%= render :partial => 'overview_text' %> 
    </div>
	</div>
<% end %>

<div id="home-page-container">
  <%= render :partial => '/data/departure_year_graph', :locals => { :graph_height => 360 } %>

  <%= render :partial => '/data/conviction_locations_map' %>

  <div id="site-map-container" class="widget">
    <h3 class="widget-section-title widget-title-text-icon">Explore Convict Records</h3>
    <%= link_to "Search Convicts", convicts_path, :id => 'search-convicts-link' %>
    <%= link_to "Departure Dates", {:controller => :data, :action => :departure_dates}, :id => 'departure-dates-link' %>
    <%= link_to "Boats", {:controller => :data, :action => :boats}, :id => 'boats-link' %>
    <%= link_to "Conviction County", {:controller => :data, :action => :court_counties}, :id => 'court-counties-link' %>
    <%= link_to "Destinations", {:controller => :data, :action => :destinations}, :id => 'destinations-link' %>
  </div>

  <%= render :partial => '/data/top_boats_chart' %>

  <%= render :partial => '/data/destinations_map', :locals => { :map_width => 470, :map_height => 400 }  %>

</div>
