<% content_for :head do %>
  <%= javascript_include_tag 'highcharts' %>

  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/datatable/assets/skins/sam/datatable.css" /> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/json/json-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datasource/datasource-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/event-delegate/event-delegate-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datatable/datatable-min.js"></script>

  <%= javascript_include_tag 'protovis-r3.2' %>
<% end %>

<% content_for :page_header do %>
  <h2 class="page-title">Convict Boats</h2>
<% end %>

<% unless @boats.empty? %>

  <div class="graphs-container">
    <div id="top-boats-graph-container" class="widget">
      <h3 class="widget-section-title widget-title-graph-icon">Boats That Transported the Most Convicts</h3>
      <div id="top-boats-graph"> </div>
    </div>

    <script>
$(document).ready(function() {
   new Highcharts.Chart({
      chart: {
         renderTo: 'top-boats-graph',
         defaultSeriesType: 'bar'
      },
      title: {
         text: null
      },
      xAxis: {
        categories: <%= raw @top_boats[0..8].collect { |m| m[:boat] }.to_json %>,
         title: {
            text: null
         }
      },
      yAxis: {
         min: 0,
         maxPadding: 0.3,
         endOnTick: false,
         title: {
            text: 'Convicts'
         }
      },
      tooltip: {
         formatter: function() {
            return ''+
                this.series.name +': '+ Highcharts.numberFormat(this.y, 0, ',') +' convicts';
         }
      },
      plotOptions: {
         bar: {
            dataLabels: {
               enabled: true
            }
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'bottom',
         x: -20,
         y: -50,
         floating: true,
         borderWidth: 1,
         backgroundColor: '#FFFFFF',
         shadow: true
      },
      credits: {
         enabled: false
      },
      series: [{
        name: 'Convict Boats',
        data: <%= raw @top_boats[0..8].collect { |m| m[:convicts].to_i }.to_json %>
      }]
    });
   });

    </script>

    <%= render :partial => 'top_boats_chart' %>

  </div>


  <div id="boats-table-container" class="widget" style="clear: both;">
    <h3 class="widget-section-title widget-title-table-icon">Browse By Boat</h3>
    <div id="data-table">Loading ...</div>
  </div>

  <script>
    YAHOO.util.Event.addListener(window, "load", function() {
            var tableData = <%= raw @boats.to_json %>;

            var columnDefs = [
                {key:"boat", label: "Boat", sortable:true, resizeable:true},
                {key:"convicts", label: "Convicts", formatter: "number", sortable:true, resizeable:true},
                {key:"voyage_count", label: "Voyages", formatter: "number", sortable:true, resizeable:true}
            ];
     
            var tableDS = new YAHOO.util.DataSource(tableData);
            tableDS.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
            tableDS.responseSchema = {
                fields: ["boat", "convicts", "voyage_count"]
            };

            var dataTable = new YAHOO.widget.DataTable("data-table",
              columnDefs, tableDS, {sortedBy : {key:"boat", dir: 'desc'}});

            //Hightlight row on mouse hover
            dataTable.subscribe("rowMouseoverEvent", dataTable.onEventHighlightRow);
            dataTable.subscribe("rowMouseoutEvent", dataTable.onEventUnhighlightRow);

            //Handle user clicking on a row
            dataTable.subscribe("rowClickEvent", function(oArgs){
              var elTarget = oArgs.target;
              var oRecord = this.getRecord(elTarget);
              window.location.href = '/convicts/?boat=' + oRecord.getData("boat");
            }); 

            return {
                oDS: tableDS,
                oDT: dataTable
            };
    });

  </script>

<% else %>
  <p>No boats</p>
<% end %>
