<% content_for :head do %>
  <%= javascript_include_tag 'highcharts' %>
  <%= javascript_include_tag 'protovis-r3.2' %>
  <%= javascript_include_tag "data/boats.js" %>

  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/datatable/assets/skins/sam/datatable.css" /> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/json/json-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datasource/datasource-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/event-delegate/event-delegate-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datatable/datatable-min.js"></script>
<% end %>

<% content_for :page_header do %>
  <h2 class="page-title">Convict Boats</h2>
<% end %>

  <div class="graphs-container">
    <div id="top-boats-graph-container" class="widget">
      <h3 class="widget-section-title widget-title-graph-icon">Boats That Transported the Most Convicts</h3>
      <div id="top-boats-graph"> </div>
    </div>

    <script>
$(document).ready(function() {
   new Highcharts.Chart({
      chart: {
         renderTo: 'top-boats-graph',
         defaultSeriesType: 'bar'
      },
      title: {
         text: null
      },
      xAxis: {
        categories: <%= raw @top_boats[0..8].collect { |m| m[:boat] }.to_json %>,
         title: {
            text: null
         }
      },
      yAxis: {
         min: 0,
         maxPadding: 0.3,
         endOnTick: false,
         title: {
            text: 'Convicts'
         }
      },
      tooltip: {
         formatter: function() {
            return ''+
                this.series.name +': '+ Highcharts.numberFormat(this.y, 0, ',') +' convicts';
         }
      },
      plotOptions: {
         bar: {
            dataLabels: {
               enabled: true
            }
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'bottom',
         x: -20,
         y: -50,
         floating: true,
         borderWidth: 1,
         backgroundColor: '#FFFFFF',
         shadow: true
      },
      credits: {
         enabled: false
      },
      series: [{
        name: 'Convict Boats',
        data: <%= raw @top_boats[0..8].collect { |m| m[:convicts].to_i }.to_json %>
      }]
    });
   });

    </script>

    <%= render :partial => 'top_boats_chart' %>

  </div>


  <div id="boats-table-container" class="widget" style="clear: both;">
    <h3 class="widget-section-title widget-title-table-icon">Browse By Boat</h3>
    <div id="data-table">Loading ...</div>
  </div>

  <table id="raw-boats-table" class="raw-yui-table">
    <thead>
      <tr>
        <th>link</th>
        <th>boat</th>
        <th>convicts</th>
        <th>voyage_count</th>
      </tr>
    </thead>
    <tbody>
      <% @boats.each do |boat| %>
        <tr>
          <td><%= link_to boat[:boat], convicts_path(:boat => boat[:boat]) %></td>
          <td><%= boat[:boat] %></td>
          <td><%= boat[:convicts] %></td>
          <td><%= boat[:voyage_count] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

