<% content_for :head do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
  <%= javascript_include_tag "data/court_counties.js" %>

  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/json/json-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datasource/datasource-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/event-delegate/event-delegate-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datatable/datatable-min.js"></script>
<% end %>

<% content_for :title do %>
  Convict Court Locations
<% end %>

<% content_for :page_header do %>
  <h2 class="page-title">
    Convict Court Locations
  </h2>
<% end %>

<div id="court-counties-page-container">

  <div id="top-conviction-container" class="widget">
    <h3 class="widget-section-title widget-title-graph-icon">Top Conviction Locations</h3>
    <div id="top-conviction-chart">Loading ...</div>
  </div>

  <script>
$(document).ready(function() {
   new Highcharts.Chart({
      chart: {
         renderTo: 'top-conviction-chart',
         defaultSeriesType: 'bar',
         height: 470
      },
      title: {
         text: null
      },
      credits: {
        enabled: false
      },    
      xAxis: {
         categories: <%= raw @top_counties.collect { |m| m[:court_county] }.to_json %>,
         title: {
            text: 'Counties'
         }
      },
      yAxis: {
         min: 0,
         title: {
            text: 'Convicts',
            align: 'high'
         },
        endOnTick: false
      },
      tooltip: {
         formatter: function() {
            return ''+
                this.series.name +': ' + Highcharts.numberFormat(this.y, 0, ',') + ' convicts';
         }
      },
      plotOptions: {
         bar: {
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         x: -10,
         y: 370,
         floating: true,
         borderWidth: 1,
         backgroundColor: '#FFFFFF',
         shadow: true
      },
      series: [{
         name: 'Convicts',
         data: <%= raw @top_counties.collect { |m| m[:convicts].to_i }.to_json %>
      }]
   });
   
   
});
</script>

  <%= render :partial => 'conviction_locations_map' %>

  <div id="courty-table-container" class="widget">
    <h3 class="widget-section-title widget-title-table-icon">Browse By Conviction County</h3>
    <p id="county-data-quality"><strong>Note:</strong> Counties of conviction have been determined based on each convict's court of conviction.
    This is far from fool proof, and some locations (e.g. Ireland) have disproportionately low stats.</p>
    <div id="data-table">Loading ...</div>
  </div>

  <table id="raw-counties-table" class="raw-yui-table">
    <thead>
      <tr>
        <th>link</th>
        <th>court_county</th>
        <th>convicts</th>
      </tr>
    </thead>
    <tbody>
      <% @counties.each do |county| %>
        <tr>
          <td><%= link_to county[:court_county], convicts_path(:court_county => county[:court_county]) %></td>
          <td><%= county[:court_county] %></td>
          <td><%= county[:convicts] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
