<% content_for :head do %>
  <%= javascript_include_tag 'highcharts' %>
  <%= javascript_include_tag "data/departure_dates.js" %>

  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/datatable/assets/skins/sam/datatable.css" /> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/json/json-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datasource/datasource-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/event-delegate/event-delegate-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datatable/datatable-min.js"></script>

<% end %>

<% content_for :page_header do %>
  <h2 class="page-title">Departure Date</h2>
<% end %>

<div id="departure-date-page-container">

<div id="year-table-container" class="widget">
  <h3 class="widget-section-title widget-title-table-icon">Browse By Year</h3>
  <div id="data-table">Loading ...</div>
  <table id="raw-departure-date-table" class="raw-yui-table">
    <thead>
      <tr>
        <th>link</th>
        <th>departure_year</th>
        <th>convicts</th>
      </tr>
    </thead>
    <tbody>
      <% @years.each do |departure_year| %>
        <tr>
          <td><%= link_to departure_year[:departure_year], convicts_path(:departure_year => departure_year[:departure_year]) %></td>
          <td><%= departure_year[:departure_year] %></td>
          <td><%= departure_year[:convicts] %></td>
        </tr>
      <% end %>
    </tbody>    
  </table>
</div>

<%= render :partial => 'departure_year_graph' %>

<div id="month-graph-container" class="widget">
  <h3 class="widget-section-title widget-title-graph-icon">Convicts vs Month of Departure</h3>
  <div id="month-graph"> </div>
</div>

<script>
$(document).ready(function() {
   new Highcharts.Chart({
      chart: {
         renderTo: 'month-graph',
         defaultSeriesType: 'column'
      },
      title: {
         text: null
      },
      credits: {
        enabled: false
      },
      xAxis: {
         categories: [
            'Jan', 
            'Feb', 
            'Mar', 
            'Apr', 
            'May', 
            'Jun', 
            'Jul', 
            'Aug', 
            'Sep', 
            'Oct', 
            'Nov', 
            'Dec'
         ]
      },
      yAxis: {
         min: 0,
         title: {
            text: 'Convicts'
         }
      },
      legend: {
         layout: 'vertical',
         backgroundColor: '#FFFFFF',
         align: 'left',
         verticalAlign: 'top',
         x: 100,
         y: 70,
         floating: true,
         shadow: true
      },
      tooltip: {
         formatter: function() {
            return ''+
               this.x +': '+ Highcharts.numberFormat(this.y, 0, ',') +' convicts';
         }
      },
      plotOptions: {
         column: {
            pointPadding: 0.2,
            borderWidth: 0
         }
      },
     series: [{
         name: 'Month',
         data: [<%= @months.collect { |m| m[:convicts] }.join(', ') %>],
         dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            x: -3,
            y: 10,
            formatter: function() {
               return Highcharts.numberFormat(this.y, 0, ',');
            },
            style: {
               font: 'normal 13px Verdana, sans-serif'
            }
         }   
         
     }]
   });
});
   
</script>  

<div id="decades-graph-container" class="widget">
  <h3 class="widget-section-title widget-title-graph-icon">Decades of Convict Departure</h3>
  <div id="decades-graph"> </div>
</div>

<script>
$(document).ready(function() {
   new Highcharts.Chart({
      chart: {
         renderTo: 'decades-graph',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: null
      },
      credits: {
        enabled: false
      },      
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.y, 0, ',') +' convicts';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               color:'#000000',
               connectorColor: '#000000',
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>'
               }
            }
         }
      },
       series: [{
         type: 'pie',
         name: 'Decades of Convict Departure',
         data: [
            <%= @decades.collect { |v| "['#{v[0]}', #{v[1]}]"  }.join(', ')  %>
         ]
      }]
   });
});
</script>

</div>
