<% content_for :head do %>
  <%= javascript_include_tag "data/destinations.js" %>

  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/json/json-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datasource/datasource-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/event-delegate/event-delegate-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datatable/datatable-min.js"></script>

  <script type='text/javascript' src='https://www.google.com/jsapi'></script>
<% end %>

<% content_for :title do %>
  Convict Destinations
<% end %>

<% content_for :page_header do %>
  <h2 class="page-title">Convict Destinations</h2>
<% end %>

<div id="destinations-page-container">
<% unless @destinations.empty? %>

  <div id="destinations-table-container" class="widget">
    <h3 class="widget-section-title widget-title-table-icon">Browse By Destinations</h3>
    <div id="data-table">Loading ...</div>
    <table id="raw-destinations-table" class="raw-yui-table">
      <thead>
        <tr>
          <th>link</th>
          <th>destination</th>
          <th>state</th>
          <th>convicts</th>
        </tr>
      </thead>
      <tbody>
        <% @destinations.each do |destination| %>
          <tr>
            <td><%= link_to destination[:destination], convicts_path(:destination => destination[:destination]) %></td>
            <td><%= destination[:destination] %></td>
            <td><%= destination[:state] %></td>
            <td><%= destination[:convicts] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render :partial => 'destinations_map' %>

  <div id="destinations-donut-container" class="widget">
    <h3 class="widget-section-title widget-title-graph-icon">Convict Destinations Donut</h3>
    <div id="destinations-donut">Loading ...</div>
  </div>

  <script>
$(document).ready(function() {
   new Highcharts.Chart({
      chart: {
         renderTo: 'destinations-donut',
         plotBackgroundColor: 'none',
         plotBorderWidth: 0,
         plotShadow: false,
         height: 350,
         marginBottom: -30,
         marginTop: -30,
         spacingTop: 0
      },
      title: {
         text: null
         },      
      credits: {
        enabled: false
      },         
         tooltip: {
         formatter: function() {
            return '<b>'+ this.series.name +'</b><br/>'+ 
               this.point.name +': '+ Highcharts.numberFormat(this.y, 0, ',') +' convicts';
         }
      },
       series: [{
         type: 'pie',
         name: 'State',
         size: '45%',
         innerSize: '20%',
         data: [
          <%= raw @state_destinations.collect { |state| "{name: '#{state[:state]}', y: #{state[:convicts]}}" }.join(', ')  %>
         ],
         dataLabels: {
            enabled: false
         }
      }, {
         type: 'pie',
         name: 'Location',
         innerSize: '45%',
         data: [
         <%= raw @destinations.collect { |state| %|{name: "#{state[:destination]}", y: #{state[:convicts]}}| }.join(', ')  %>
         ],
         dataLabels: {
            enabled: false
         }
      }]
   });
   
   
  });
    </script>    

 <% else %>
  <p>No destinations</p>
<% end %>
</div>
