<% content_for :head do %>
  <%= javascript_include_tag "data/names.js" %>

  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/json/json-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datasource/datasource-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/event-delegate/event-delegate-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datatable/datatable-min.js"></script>
<% end %>

<% content_for :title do %>
  Popular Convict Names
<% end %>

<% content_for :page_header do %>
  <h1 class="page-title">Popular Convict Names</h1>
<% end %>

<div id="names-page-container">

  <div id="first-names-search-container" class="widget">
    <h3 class="widget-section-title widget-title-text-icon">Search by First Name</h3>
    <div>
        <%= form_tag(convicts_path, :method => "get") do %>
          <%= label_tag "first_name", "First Name:" %> 
          <input type="input" name="first_name" />
          <%= submit_tag "Search", :class => "action-button" %>
        <% end %>
    </div>
  </div>

  <div id="first-names-table-container" class="widget">
    <h3 class="widget-section-title widget-title-table-icon">Browse Top 50 First Names</h3>
    <div id="first-name-data-table">Loading ...</div>
    <table id="raw-first-names-table" class="raw-yui-table">
      <thead>
        <tr>
          <th>link</th>
          <th>first_name</th>
          <th>convicts</th>
        </tr>
      </thead>
      <tbody>
        <% @first_names.each do |first_name| %>
          <tr>
            <td><%= link_to first_name[:first_name], convicts_path(:first_name => first_name[:first_name]) %></td>
            <td><%= first_name[:first_name] %></td>
            <td><%= first_name[:convicts] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>

  <div id="last-names-search-container" class="widget">
    <h3 class="widget-section-title widget-title-text-icon">Search by Last Name</h3>
    <div>
        <%= form_tag(convicts_path, :method => "get") do %>
          <%= label_tag "last_name", "Last Name:" %> 
          <input type="input" name="last_name" />
          <%= submit_tag "Search", :class => "action-button" %>
        <% end %>
    </div>
  </div>

  <div id="last-names-table-container" class="widget">
    <h3 class="widget-section-title widget-title-table-icon">Browse Top 50 Last Names</h3>
    <div id="last-name-data-table">Loading ...</div>
    <table id="raw-last-names-table" class="raw-yui-table">
      <thead>
        <tr>
          <th>link</th>
          <th>last_name</th>
          <th>convicts</th>
        </tr>
      </thead>
      <tbody>
        <% @last_names.each do |last_name| %>
          <tr>
            <td><%= link_to last_name[:last_name], convicts_path(:last_name => last_name[:last_name]) %></td>
            <td><%= last_name[:last_name] %></td>
            <td><%= last_name[:convicts] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

    <div id="first-names-graph-container" class="widget">
      <h3 class="widget-section-title widget-title-graph-icon">Top First Names</h3>
      <div id="first-names-graph"> </div>
    </div>

    <script>

$(document).ready(function() {
   new Highcharts.Chart({
      chart: {
         renderTo: 'first-names-graph',
         defaultSeriesType: 'bar'
      },
      title: {
         text: null
      },
      xAxis: {
        categories: <%= raw @first_names[0..8].collect { |m| m[:first_name] }.to_json %>,
         title: {
            text: null
         }
      },
      yAxis: {
         min: 0,
         maxPadding: 0.3,
         endOnTick: false,
         title: {
            text: 'Convicts'
         }
      },
      tooltip: {
         formatter: function() {
            return ''+
                this.series.name +': '+ Highcharts.numberFormat(this.y, 0, ',') +' convicts';
         }
      },
      plotOptions: {
         bar: {
            dataLabels: {
               enabled: true
            }
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'bottom',
         x: -20,
         y: -50,
         floating: true,
         borderWidth: 1,
         backgroundColor: '#FFFFFF',
         shadow: true
      },
      credits: {
         enabled: false
      },
      series: [{
        name: 'First Names',
        data: <%= raw @first_names[0..8].collect { |m| m[:convicts].to_i }.to_json %>
      }]
    });
   });

    </script>

    <div id="last-names-graph-container" class="widget">
      <h3 class="widget-section-title widget-title-graph-icon">Top Last Names</h3>
      <div id="last-names-graph"> </div>
    </div>

    <script>

$(document).ready(function() {
   new Highcharts.Chart({
      chart: {
         renderTo: 'last-names-graph',
         defaultSeriesType: 'bar'
      },
      title: {
         text: null
      },
      xAxis: {
        categories: <%= raw @last_names[0..8].collect { |m| m[:last_name] }.to_json %>,
         title: {
            text: null
         }
      },
      yAxis: {
         min: 0,
         maxPadding: 0.3,
         endOnTick: false,
         title: {
            text: 'Convicts'
         }
      },
      tooltip: {
         formatter: function() {
            return ''+
                this.series.name +': '+ Highcharts.numberFormat(this.y, 0, ',') +' convicts';
         }
      },
      plotOptions: {
         bar: {
            dataLabels: {
               enabled: true
            }
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'bottom',
         x: -20,
         y: -50,
         floating: true,
         borderWidth: 1,
         backgroundColor: '#FFFFFF',
         shadow: true
      },
      credits: {
         enabled: false
      },
      series: [{
        name: 'Last Names',
        data: <%= raw @last_names[0..8].collect { |m| m[:convicts].to_i }.to_json %>
      }]
    });
   });

    </script>


</div>
