<% content_for :head do %>
  <%= javascript_include_tag 'highcharts' %>
  <%= javascript_include_tag "data/terms.js" %>

  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/datatable/assets/skins/sam/datatable.css" /> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/json/json-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datasource/datasource-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/event-delegate/event-delegate-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datatable/datatable-min.js"></script>
<% end %>

<% content_for :page_header do %>
  <h2 class="page-title">Convict Sentences</h2>
<% end %>

<div id="terms-page-container">

  <div id="term-table-container" class="widget">
    <h3 class="widget-section-title widget-title-table-icon">Browse By Sentence</h3>
    <div id="data-table">Loading ...</div>
    <table id="raw-terms-table" class="raw-yui-table">
      <thead>
        <tr>
          <th>link</th>
          <th>term</th>
          <th>convicts</th>
        </tr>
      </thead>
      <tbody>
        <% @terms.each do |term| %>
          <tr>
            <td><%= link_to term[:term], convicts_path(:term => term[:term]) %></td>
            <td><%= term[:term] %></td>
            <td><%= term[:convicts] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render :partial => '/data/term_pie' %>

<div id="term-departure-date-graph-container" class="widget">
  <h3 class="widget-section-title widget-title-graph-icon">Sentence Vs Departure Decade</h3>
  <div id="term-departure-date-graph"> </div>
</div>

<script>
var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'term-departure-date-graph',
         defaultSeriesType: 'column'
      },
      title: {
         text: null
      },
      credits: {
        enabled: false
      },
      xAxis: {
        categories: <%= raw @term_decades.keys.to_json %>
      },
      yAxis: {
         min: 0,
         title: {
            text: 'Convicts'
         }
      },
      legend: {
         layout: 'vertical',
         backgroundColor: '#FFFFFF',
         align: 'left',
         verticalAlign: 'top',
         x: 100,
         y: 70,
         floating: true,
         shadow: true
      },
      tooltip: {
         formatter: function() {
            return ''+
               this.x +': '+ Highcharts.numberFormat(this.y, 0, ',') +' convicts sentenced to ' + this.series.name;
         }
      },
      plotOptions: {
         column: {
            pointPadding: 0.2,
            borderWidth: 0
         }
      },
      series: <%= 
        series = ['1 - 7 years', '8 - 14 years', '15+ years', 'Life'].collect do |term_range|
          {
            name: term_range,
            data: @term_decades.keys.collect { |decade| @term_decades[decade][term_range] || 0 }
          }
        end.to_json
        raw series
      %>
   });
   
   
});
</script>  

</div>
