<% content_for :head do %>
  <%= javascript_include_tag 'highcharts' %>

  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/datatable/assets/skins/sam/datatable.css" /> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/json/json-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datasource/datasource-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/event-delegate/event-delegate-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datatable/datatable-min.js"></script>

<% end %>

<% content_for :page_header do %>
  <h2 class="page-title">Departure Date</h2>
<% end %>

<div id="year-table-container" class="widget">
  <h3 class="widget-section-title widget-title-table-icon">Browse By Year</h3>
  <div id="data-table">Loading ...</div>
</div>

<script>

    YAHOO.util.Event.addListener(window, "load", function() {
            var tableData = <%= raw @years.to_json %>;

            var columnDefs = [
                {key:"departure_year", label: "Departure Year", sortable:true, resizeable:true},
                {key:"convicts", label: "Convicts", sortable:true, resizeable:true},
            ];
     
            var tableDS = new YAHOO.util.DataSource(tableData);
            tableDS.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
            tableDS.responseSchema = {
                fields: ["departure_year", "convicts"]
            };

            var dataTable = new YAHOO.widget.DataTable("data-table",
              columnDefs, tableDS, {sortedBy : {key:"departure_year", dir: 'desc'}});

            //Hightlight row on mouse hover
            dataTable.subscribe("rowMouseoverEvent", dataTable.onEventHighlightRow);
            dataTable.subscribe("rowMouseoutEvent", dataTable.onEventUnhighlightRow);

            //Handle user clicking on a row
            dataTable.subscribe("rowClickEvent", function(oArgs){
              var elTarget = oArgs.target;
              var oRecord = this.getRecord(elTarget);
              window.location.href = '/convicts/?departure_year=' + oRecord.getData("departure_year");
            }); 

            return {
                oDS: tableDS,
                oDT: dataTable
            };
    });

</script>

<div id="year-graph-container" class="widget">
  <h3 class="widget-section-title widget-title-graph-icon">Convicts vs Year of Departure</h3>
  <div id="year-graph"> </div>
</div>

<script>
$(document).ready(function() {
   new Highcharts.Chart({
      chart: {
         renderTo: 'year-graph',
         defaultSeriesType: 'area',
         height: 350
      },
      title: {
         text: null
      },
      credits: {
        enabled: false
      },
      xAxis: {
        allowDecimals: false,
        labels: {
          formatter: function() {
            return "" + this.value;
          },
         title: {
            text: 'Departure Year'
          }          
        }
      },
      yAxis: {
         min: 0,
         title: {
            text: 'Convict Count'
          }
      },
      legend: {
         layout: 'vertical',
         backgroundColor: '#FFFFFF',
         align: 'left',
         verticalAlign: 'top',
         x: 100,
         y: 70,
         floating: true,
         shadow: true
      },
      tooltip: {
         formatter: function() {
            return ''+
               this.y +' convicts departing in '+ this.x;
         }
      },
      plotOptions: {
         area: {
           pointStart: <%= @years.first[:departure_year] %>,
            marker: {
              enabled: false
            }
        }
      },
      series: [{
         name: 'Year',
         data: [<%= (@years.first[:departure_year]..@years.last[:departure_year]).collect { |year| @years_map[year] || 0 }.join(', ') %>]
      }]
   });
   
   
});
</script>

<div id="month-graph-container" class="widget">
  <h3 class="widget-section-title widget-title-graph-icon">Convicts vs Month of Departure</h3>
  <div id="month-graph"> </div>
</div>

<script>
$(document).ready(function() {
   new Highcharts.Chart({
      chart: {
         renderTo: 'month-graph',
         defaultSeriesType: 'column'
      },
      title: {
         text: null
      },
      credits: {
        enabled: false
      },
      xAxis: {
         categories: [
            'Jan', 
            'Feb', 
            'Mar', 
            'Apr', 
            'May', 
            'Jun', 
            'Jul', 
            'Aug', 
            'Sep', 
            'Oct', 
            'Nov', 
            'Dec'
         ]
      },
      yAxis: {
         min: 0,
         title: {
            text: 'Convicts'
         },
      },
      legend: {
         layout: 'vertical',
         backgroundColor: '#FFFFFF',
         align: 'left',
         verticalAlign: 'top',
         x: 100,
         y: 70,
         floating: true,
         shadow: true
      },
      tooltip: {
         formatter: function() {
            return ''+
               this.x +': '+ Highcharts.numberFormat(this.y, 0, ',') +' convicts';
         }
      },
      plotOptions: {
         column: {
            pointPadding: 0.2,
            borderWidth: 0
         }
      },
     series: [{
         name: 'Month',
         data: [<%= @months.collect { |m| m[:convicts] }.join(', ') %>],
         dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            x: -3,
            y: 10,
            formatter: function() {
               return Highcharts.numberFormat(this.y, 0, ',');
            },
            style: {
               font: 'normal 13px Verdana, sans-serif'
            }
         }   
         
     }]
   });
   
   
});
   
</script>  

<div id="decades-graph-container" class="widget">
  <h3 class="widget-section-title widget-title-graph-icon">Decades of Convict Departure</h3>
  <div id="decades-graph"> </div>
</div>

<script>
$(document).ready(function() {
   new Highcharts.Chart({
      chart: {
         renderTo: 'decades-graph',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: null
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.y, 0, ',') +' convicts';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               color:'#000000',
               connectorColor: '#000000',
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>'
               }
            }
         }
      },
       series: [{
         type: 'pie',
         name: 'Decades of Convict Departure',
         data: [
            <%= @decades.collect { |v| "['#{v[0]}', #{v[1]}]"  }.join(', ')  %>
         ]
      }]
   });
});
</script>
