<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=IE8">
  <title><%= content_for?(:title) ? (yield :title) : 'ConViz - Convict Record Visualisation' %></title>

  <%= stylesheet_link_tag    "application" %>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/datatable/assets/skins/sam/datatable.css" /> 
  <link href='http://fonts.googleapis.com/css?family=Neuton' rel='stylesheet' type='text/css'> 

  <%= javascript_include_tag "application" %>

  <script src="http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
  <script src="http://yui.yahooapis.com/2.9.0/build/logger/logger-min.js"></script>
  <script src="http://yui.yahooapis.com/2.9.0/build/stylesheet/stylesheet-min.js"></script>

  <%= csrf_meta_tag %>

  <%= yield :head %>
</head>
<body class="yui3-skin-sam  yui-skin-sam">

<!--[if lte IE 6]>
<script>
(function($){
   $(function(){
          var message = "This site requires a modern browser such as <a href='http://www.google.com/chrome/'>Chrome</a>, <a href='http://firefox.com'>Firefox</a> or Internet Explorer 9.",
          div = $('<div id="ie-warning"></div>').html(message).css({
                   'height': '50px',
                   'line-height': '50px',
                   'background-color':'#f9db17',
                   'text-align':'center',
                   'font-family':'Arial, Helvetica, sans-serif',
                   'font-size':'12pt',
                   'font-weight':'bold',
                   'color':'black'
                }).hide().find('a').css({color:'#333'}).end();
      div.prependTo(document.body).slideDown(500);
    });
})(jQuery);
</script>
<![endif]-->

  <script>
    //Hide non YUI table for JS users
    new YAHOO.util.StyleSheet(".raw-yui-table {display: none}");
  </script>

  <div id="header" class="row">
    <div class="section">
      <header class="row">
        <div id="header-top" class="row">
          <div id="subscribe" class="one-of-two">
            <p>Bring the British Convict Transportation Registry to life through visualisations</p>
          </div> <!-- #subscribe .one-of-two -->
          
          <div id="navigation" class="two-of-two">
                      <ul class="header-nav">
              <li class="first"><a href="/convicts" title="Convicts">Convicts</a></li>
              <li><a href="/data/boats" title="Boats">Boats</a></li>
              <li><a href="/data/destinations" title="Destinations">Dest</a></li>
              <li><a href="/data/departure_dates" title="Departure Dates">Dates</a></li>
              <li><a href="/data/court_counties" title="Court Counties">Counties</a></li>
              <li><a href="/data/terms" title="Sentences">Terms</a></li>
              <li><a href="/data/names" title="Names">Names</a></li>
              
              <li class="page_item page-item-2"><a href="/home/about" title="About">About</a></li>
            </ul>
          </div> <!-- #navigation .two-of-two -->
        </div> <!-- #header-top .row -->
        
        <div class="row">
          <div id="logo" class="one-of-two">
              <a href="/" title="Home"><img src="/images/logo.png" alt="ConViz" height="90" width="480"></a>
          </div> <!-- #logo .one-of-two -->
          
          <div id="rotator">
              <%= form_tag(convicts_path, :method => "get", :id => 'convict-search-form') do %>
                <%= label_tag "q", "Convict Search:" %> 
                <input type="search" name="q" value="<%= params[:q] %>" id="convict-search-field"/>
                <%= submit_tag "Search", :class => "action-button" %>
              <% end %>
          </div> <!-- #rotator .two-of-two -->
        </div> <!-- .row -->
      </header> <!-- header .row -->
    </div> <!-- .section -->
  </div> <!-- #header .row -->


  <div class="row">
    <div class="section">
      <div id="main" class="full-width">

         <%= yield :page_header %>

         <%= yield %>

      </div>
    </div>
  </div>

  <div id="footer" class="row">
    <div class="section">
      <footer class="row">
        <div id="footer-left" class="one-of-two">
          <p>The "Transmit" <a href="http://www.wordpress.org/" title="WordPress.org">WordPress</a> Theme by <a href="http://www.press75.com/" title="Press75.com">Press75.com</a></p>
                </div>
        
        <div id="footer-right" class="two-of-two">
                  <p>Developed by <a href="http://o-sam-o.github.com/">Sam Cavenagh</a> | <a href="/home/about" title="About">About</a></p>
                </div>
      </footer> <!-- footer .row -->
    </div> <!-- .section -->
  </div> <!-- #footer .row -->

  <script>
    //YAHOO.widget.Logger.enableBrowserConsole();
  </script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6933374-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
